html {
  background-color: #424242;
}
body, footer {
  background-color: #424242 !important;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
