@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
html {
  background-color: #424242;
}
body, footer {
  background-color: #424242 !important;
  color: white;
}
body, *, html, :root, body * {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a a {
  text-decoration: none !important;
  color: inherit;
}
a a:hover {
  color: inherit;
}
body .dropdown-item:focus, .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
  cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-hover-bg) !important;
}

.dropdown-menu.show, .dropdown:hover .dropdown-menu {
  -webkit-box-shadow: 0px 10px 25px 9px rgb(0 0 0 / 53%);
  -moz-box-shadow: 0px 10px 25px 9px rgb(0 0 0 / 53%);
  box-shadow: 0px 10px 25px 9px rgb(0 0 0 / 53%);
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  margin-top: 0;
  transition: all .5s ease-in;
}
a.btn-sorteio {
  display: flex;
  align-items: center;
  color: #e4e4e4;
  text-decoration:none;
  margin-left: 7px;
}
a.nav-link {
  color: #e4e4e4;
}
.nav-link:focus, .nav-link:hover, a.btn-sorteio:hover {
  color: var(--bs-nav-link-hover-color);
}
.Loading-page {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  height: 90%;
  transition: all .5 ease-in-out !important;
}
.Loading-page img {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 30%;
}
body .position-fixed {
  position: fixed !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #0F3460 !important;
}
.carousel-control-next, .carousel-control-prev {
  color: #0F3460;
}
* .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #0a244a73;
  outline: 0;
  box-shadow: 0 0 0 0px rgb(20 115 255 / 25%) !important;
}
span#basic-addon2 {
  width: 100px;
}

input.me-2.form-control {
  width: 165px;;
  height: 38px;
  margin-right: 0 !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-cotas button {
  width: max-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-cotas.c-sorteio button {
  padding: 10px 7px 0px 7px !important;
}

.bt-adding button:first-child {
  padding: 15px !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bt-adding button:last-child {
  padding: 15px !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.neon-effect {
  border-radius: 10px !important;
}

.div-comprar button{
  width: 150px !important;
}